<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Guías</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

</head>
<body style="background: #FFFFFF;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #7BC143; border: hidden">

        <div class="navbar-collapse collapse" style="background: #7BC143">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <div class="containerTwo">
                        <img src="~/images/logo.png" width="200" height="60" />
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="panel-footer" style="position:fixed; width:100%; bottom: 0; background: #7BC143; text-align: center">
            <p>&copy; @DateTime.Now.Year - Organización de Estudios Tropicales</p>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
