@model PagedList.IPagedList<GuiasOET.Models.GUIAS_EMPLEADO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Consultar Asignación de Reservaciones";
}

@Html.ActionLink("Consultar", "ConsultarAsignacionDetallada", new { id = "156478521", fecha = "2016-05-15" }, new { @class = "btn btn-default", @style = "background-color: #7BC143; color:white;" })

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-lg-5">
        @using (Html.BeginForm("ConsultarAsignacion", "AdministracionReservaciones"))
            {
            <p>
                Semana: <input type="date" name="semanaABuscar">
                <input type="submit" value="Buscar" class="btn btn-default" style="background-color: #7BC143; color:white;" />
            </p>
        }

    </div>
</div>
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Guia interno
                </th>
                <th>
                    <label for="LUNES">Lunes @ViewBag.fechaLunes</label>
                </th>
                <th>
                    <label for="MARTES">Martes @ViewBag.fechaMartes</label>
                </th>
                <th>
                    <label for="MIERCOLES">Miercoles @ViewBag.fechaMiercoles</label>
                </th>
                <th>
                    <label for="JUEVES">Jueves @ViewBag.fechaJueves</label>
                </th>
                <th>
                    <label for="VIERNES">Viernes @ViewBag.fechaViernes</label>
                </th>
                <th>
                    <label for="SABADO">Sabado @ViewBag.fechaSabado</label>
                </th>
                <th>
                    <label for="DOMINGO">Domingo @ViewBag.fechaDomingo</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            
                                @Html.DisplayFor(modelItem => item.NOMBREEMPLEADO)
                                @Html.DisplayFor(modelItem => item.APELLIDO1)
                                @Html.DisplayFor(modelItem => item.APELLIDO2)
                                
                         </td>
                    <tr colspan="3"></tr>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

 Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
 @Html.PagedListPager(Model, page => Url.Action("ConsultarAsignacion",
    new { }))


    </br>
    </br>
    </br>
<div class="row">
    <div class="col-md-8" col-sm-offset-1>
        <label for="simbol">Simbología: </label>
    </div>
    </br>
    <div class="col-md-7">
        <textarea rows="1" cols="23" style="color: white; background-color: rgb(255,0,0)">Fines de semana o feriados</textarea>
        <textarea rows="1" cols="23" style="color: white; background-color: rgb(0,0,255)">Tour privado</textarea>
        </br>
        </br>
        <textarea rows="1" cols="23" style="color: white; background-color: rgb(0,0,0)">Tour regular</textarea>
        <textarea rows="1" cols="23" style="color: white; background-color: #F2BF8E">Tour nocturno y pajareos</textarea>
        </br>
        </br>
        <textarea rows="1" cols="23" align="center" style="color: white; background-color: darkgray">Día libre</textarea>

    </div>


   