@model GuiasOET.Models.ManejoModelos

@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Insertar usuario";
}

<div class="jumbotronTwo">

</div>
<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <br />
    <div class="col-md-9">
        <div style="float: left">
            @Html.ActionLink("Regresar a la lista de usuarios", "ListaUsuarios")
        </div>
        <br />
    </div>

</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!--DATOS PERSONALES-->
    <div class="row" style="width:auto">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body" style="height: 55%; width:auto">
                    <div class="row">
                        <div class="col-md-6" col-sm-offset-1>
                            <label for="titulo">Datos personales:</label>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(m => m.modeloEmpleado.CEDULA, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.CEDULA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            
                            @Html.LabelFor(model => model.modeloEmpleado.NOMBREEMPLEADO, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.NOMBREEMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.NOMBREEMPLEADO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.APELLIDO1, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.APELLIDO1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.APELLIDO1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.APELLIDO2, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.APELLIDO2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.APELLIDO2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.DIRECCION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloTelefono.TELEFONO, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloTelefono.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloTelefono.TELEFONO, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="form-control" id="btnmas" value="+">
                        </div>
                    </div>

                    <br />

                    <!--parte que no se si va a servir para meter los telefonos agregados-->
                    <div class="row">
                        <div class="col-md-10" col-sm-offset-1>
                            <a href="#" class="form-control">First item</a>
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="form-control" id="btnmenos" value="-">
                        </div>
                    </div>
                    <!--parte que no se si va a servir para meter los telefonos agregados-->
                </div>
            </div>
        </div>


        <!--DATOS DE LA CUENTA-->

        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body" style="height: 55%; width:auto">

                    <div class="row">
                        <div class="col-md-6" col-sm-offset-1>
                            <label for="titulo">Datos de la cuenta:</label>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.USUARIO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.USUARIO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.CONTRASENA, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.CONTRASENA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.CONTRASENA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.CONFIRMACIONCONTRASENA, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.modeloEmpleado.CONFIRMACIONCONTRASENA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.modeloEmpleado.CONFIRMACIONCONTRASENA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.TIPOEMPLEADO, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-2">
                            <input name="tipoUsuario" type="radio" id="checkGlobal" value="Administrador Global" checked/>
                        </div>
                        <div class="col-md-6" col-sm-offset-1>
                            <label for="checkGlobal">Administrador global</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="tipoUsuario" id="checkLocal" value="Administrador Local">
                        </div>
                        <div class="col-md-6">
                            <label for="checkLocal">Administrador local</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <input name="tipoUsuario" type="radio" id="checkInterno" value="Guía Interno">
                        </div>
                        <div class="col-md-6">
                            <label for="checkInterno">Guía interno</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="tipoUsuario" id="checkExterno" value="Guía Externo">
                        </div>
                        <div class="col-md-6">
                            <label for="checkExterno">Guía externo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="tipoUsuario" id="checkInternoLocal" value="Administrador Local/Guía Interno">
                        </div>
                        <div class="col-md-6">
                            <label for="checkInternoLocal">Administrador Local / Guía Interno</label>
                        </div>
                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-3" col-sm-offset-1>
                            <label class="control-label col-md-2" for="NOMBREESTACION">Nombre estación:</label>                        
                        </div>
                  
                    <div class="col-md-7">
                        @Html.DropDownList("modeloEmpleado.NOMBREESTACION", (SelectList) ViewBag.NOMBREESTACION, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.modeloEmpleado.NOMBREESTACION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-3" col-sm-offset-1>
                            @Html.LabelFor(model => model.modeloEmpleado.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-7">
                            <select name="modeloEmpleado.ESTADO" class="form-control">
                                <option value="0" selected="selected">Activo</option>
                                <option value="1" >Inactivo</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="btnsBD" style="float: right">
                <input type="submit" value="Aceptar usuario" class="btn btn-default"  />
                <input type="reset" value="Borrar datos" class="btn btn-default" />
                <br />
            </div>
        </div>
    </div>
}
