@model IEnumerable<GuiasOET.Models.GUIAS_EMPLEADO>


@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Lista de Usuarios";
}

<div class="jumbotronTwo">

</div>
<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div style="float: right">
            @Html.ActionLink("Insertar usuario", "InsertarUsuario")
            
        </div>
    </div>

</div>
<br>

<div class="row">
    @using (Html.BeginForm("ListaUsuarios", "AdministracionUsuarios", FormMethod.Get))
    {
        <p>
            Buscar por nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Buscar" class="btn btn-default" />
            <input type="submit" value="Ver todos" class="btn btn-default" />
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "ListaUsuarios", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Estación", "ListaUsuarios", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Rol", "ListaUsuarios", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBREEMPLEADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBREESTACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPOEMPLEADO)
            </td>

            <td>
                @Html.ActionLink("Consultar", "ConsultarUsuario", new { id = item.CEDULA }) |
                @Html.ActionLink("Modificar", "ModificarUsuario", new { id = item.CEDULA }) |
                @Html.ActionLink("Eliminar", "EliminarUsuario", new { id = item.CEDULA }) 
            </td>
        </tr>
    }
     

</table>
<br />

