@model GuiasOET.Models.LoginViewModel

@{
    ViewBag.Title = "Inicio se Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="row col-sm-7">
    <div class="col-sm-10 col-sm-push-1">
        <h2>Iniciar Sesión</h2>
        <hr />
    </div>
</div>

<div class="row col-sm-7">


    @using (Html.BeginForm("Login", "AdministracionUsuarios", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {


        @Html.AntiForgeryToken()

        <div class="col-sm-9 col-sm-push-1">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <br>
                <br>

                <div class="panel panel-default" style="height: 100%; width: 70%; border-color: black; ">
                    <div class="panel-body ">

                        <br>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                        <div class="form-group ">


                            <div class="col-sm-9 col-sm-push-1">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                            </div>
                        </div>

                        <br>
                        <br>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-9 col-sm-push-1">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-push-3">
                                <input type="submit" value="Ingresar" class="btn btn-default" style="width:28%" />
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-push-3">
                                <p>
                                    @Html.ActionLink("¿Olvidó su contraseña?", "ReestablecerContraseña")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}










