@model GuiasOET.Models.GUIAS_EMPLEADO.OlvidarContrasenaMetadata
@{
    ViewBag.Title = "Contraseña Olvidada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Ingrese su nombre de usuario o email para recibir un link que le permita restablecer su contraseña</p>
        <hr />
    </div>

</div>

<br>


<div class="row">

    @using (Html.BeginForm("OlvidarContrasena", "AdministracionUsuarios", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-5 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <br>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.USUARIO_EMAIL, new { @class = "col-sm-7 control-label" })
                        <div class="col-sm-5 col-sm-pull-3">
                            @Html.TextBoxFor(m => m.USUARIO_EMAIL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.USUARIO_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-push-3">
                            <input type="submit" class="btn btn-default" value="Enviar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}